@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundpc1 {
  background-image: url("../static/images/backgroundpc1.jpg");
}
.backgroundpc2 {
  background-image: url("../static/images/backgroundpc2.jpg");
}

.backgroundpc3 {
  background-image: url("../static/images/backgroundpc3.jpg");
}

.backgroundpc4 {
  background-image: url("../static/images/backgroundpc4.jpg");
  size: cover;
  height: 350vh;
}
